# requirements.in
annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.3
asttokens==2.4.0
backcall==0.2.0
backports==1.0
backports.functools_lru_cache==1.6.5
bzip2==1.0.8
ca-certificates==2023.7.22
click==8.1.7
comm==0.1.4
contourpy==1.1.1
cycler==0.12.1
debugpy==1.6.7
decorator==5.1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
fastapi==0.104.0
fonttools==4.43.1
h11==0.14.0
httptools==0.6.1
importlib-metadata==6.8.0
importlib_metadata==6.8.0
ipykernel==6.25.2
ipython==8.16.1
jedi==0.19.1
joblib==1.3.2
jupyter_client==8.4.0
jupyter_core==5.3.0
kiwisolver==1.4.5
libcxx==16.0.6
libffi==3.4.4
libsodium==1.0.18
matplotlib==3.8.0
matplotlib-inline==0.1.6
ncurses==6.4
nest-asyncio==1.5.8
numpy==1.26.1
openpyxl==3.1.2
openssl==3.1.3
packaging==23.2
pandas==2.1.1
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.1.0
pip==23.3
platformdirs==3.11.0
prompt-toolkit==3.0.39
psutil==5.9.0
ptyprocess==0.7.0
pure_eval==0.2.2
pydantic==2.4.2
pydantic-core==2.10.1
pygments==2.16.1
pyparsing==3.1.1
python==3.11.5
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
pyyaml==6.0.1
pyzmq==25.1.0
readline==8.2
scikit-learn==1.3.2
scipy==1.11.3
setuptools==68.0.0
six==1.16.0
sniffio==1.3.0
sqlite==3.41.2
stack_data==0.6.2
starlette==0.27.0
statsmodels==0.14.0
threadpoolctl==3.2.0
tk==8.6.12
tornado==6.3.3
traitlets==5.11.2
typing-extensions==4.8.0
typing_extensions==4.8.0
tzdata==2023.3
uvicorn==0.23.2
uvloop==0.18.0
watchfiles==0.21.0
wcwidth==0.2.8
websockets==11.0.3
wheel==0.41.2
xz==5.4.2
zeromq==4.3.5
zipp==3.17.0
zlib==1.2.13
